<template>
  <div>
    <v-toolbar flat color="white">
      <v-toolbar-title>Tabel tema</v-toolbar-title>
      <v-divider class="mx-2" inset vertical></v-divider>
      <v-spacer></v-spacer>
      <v-dialog v-model="dialog" max-width="500px">
        <v-btn slot="activator" color="primary" dark class="mb-2">Adauga persoana</v-btn>
        <v-card>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>

          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12 sm6 md4>
                  <v-text-field v-model="editedItem.personId" label="Id" :disabled="true"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md4>
                  <v-text-field v-model="editedItem.personName" label="Nume"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md4>
                  <v-text-field v-model="editedItem.address" label="Adresa"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md4>
                  <v-text-field v-model="editedItem.email" label="Email"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md4>
                  <v-text-field v-model="editedItem.years" label="Varsta"></v-text-field>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click.native="close">Anuleaza</v-btn>
            <v-btn color="blue darken-1" flat @click.native="save" v-bind:disabled="isSaveBtnDisabled()" @click="postFirebase()">Salveaza</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-toolbar>
    <!-- table data -->

    <v-data-table :headers="headers" :items="personsDB"  hide-actions class="elevation-1" >
      <template slot="items" slot-scope="props" item-key="personsDB['.key']">
       <!-- TODO: update and cancel -->
       <!-- Create a new edit (save) button or pop-up so you can really edit -->
        <td>{{ props.item['.key'] }}</td>
        <td>{{ props.item.personName}}</td>
        <td>{{ props.item.address }}</td>
        <td>{{ props.item.email }}</td>
        <td>{{ props.item.years }}</td>
        <td class="justify-left layout px-0">
          <v-icon small class="mr-2" @click="editItem(props.item)">
            editeaza
          </v-icon>

          <v-icon small @click="removeFirebase(props.item['.key'])">
            delete 
          </v-icon>
        </td>


      </template>
      <template slot="no-data">
        <v-btn color="primary">Reseteaza</v-btn>
      </template>
    </v-data-table> 
    

    <!-- <tr v-for="personFromDB in personsDB" v-bind:key="personFromDB['.key']">
                    <td>{{personFromDB._id}}</td>
                    <td>{{personFromDB.personName}}</td>
                    <td>{{personFromDB.email}}</td>
                    <td>{{personFromDB.address}}</td>
                    <td>{{personFromDB.years}}</td>
                     <button @click="removeFirebase(personFromDB['.key'])">Delete</button>
        </tr> -->
  
  </div>
</template>

<script>
  import {
    namesRef
  } from '../firebase';

export default {
firebase: {
      personsDB: namesRef
      
  },
  data: () => ({

     saveMode: '',
    
    dialog: false,
    headers: [{
        text: "Id",
        align: "left",
        sortable: false,
        value: "personId"
      },
      {
        text: "Nume",
        value: "personName"
      },
      {
        text: "Adresa",
        value: "address"
      },
      {
        text: "Email",
        value: "email"
      },
      {
        text: "Varsta",
        value: "years"
      },
      {
        text: "Actiuni",
        value: "action",
        sortable: false
      }
    ],
    persons: [],
    editedIndex: -1,
    editedItem: {
      personId: 0,
      personName: "",
      address: "",
      email: "",
      years: 0
    },
    defaultItem: {
      personId: 1,
      personName: "",
      address: "",
      email: "",
      years: 0
    },
  }),
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Adauga persoana" : "Editeaza";
    }
  },
  watch: {
    dialog(val) {
      val || this.close();
    }
  },
  


  methods: {
    //CRUD firebase, no server.
    postFirebase: function () {

      if(this.saveMode==='add') {
        namesRef.push({
        personId: this.editedItem.personId,
        personName: this.editedItem.personName,
        address: this.editedItem.address,
        email: this.editedItem.email,
        years: this.editedItem.years,
        edit: true

        // edit: false
      });
      } else if (this.saveMode === 'edit') {
        const copy = {...this.editedItem}
   // remove the .key attribute
        delete copy['.key']
        namesRef.child(this.editedItem['.key']).set(copy)
 
      }

      this.saveMode = 'add';

      
    },
    removeFirebase: function(key) {
      confirm("Esti sigur ca vrei sa stergi ?");
      namesRef.child(key).remove();
    },
    // setFirebase: function(key) {
    //   namesRef.child(key).update({ edit: true });

    // },

    // cancelEditFirebase: function(key) {
    //   namesRef.child(key).update({ edit: false })
    // },


    isSaveBtnDisabled() {
      if (
        !/^[a-zA-Z() ]+$/.test(this.editedItem.personName) ||
        !/^[a-zA-Z() ]+$/.test(this.editedItem.address) ||
        !/^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/.test(this.editedItem.email) ||
        !/^\d+/.test(this.editedItem.years)
      ) {
        return true;
      }
    },
    editItem(item) {
      this.editedIndex = this.persons.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.saveMode = 'edit'
      


      this.dialog = true;


    },


    // ***********
    deleteItem(item) {
      confirm("Esti sigur ca vrei sa stergi ?") &&
        namesRef.key(item).parent.remove;

    },
    // ***********

         close() {
           this.saveMode = 'add'
          this.dialog = false
          setTimeout(() => {
            this.editedItem = Object.assign({}, this.defaultItem)
            this.editedIndex = -1
          }, 300)
        },

    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.persons[this.editedIndex], this.editedItem);
      }
      this.close();
    }
    // CRUD
  }
}; 




</script>

<style>
</style>


