<template>
  <v-app>
  

    <v-content>
      
      <Tabel/>
      
    </v-content>
  </v-app>
</template>

<script>
import Tabel from './components/Tabel'

export default {
  
  components: {
    Tabel,
   
  },
  data () {
    return {
      //
    }
  }
}
</script>
